<launch>
  <!-- The path to the database must be specified -->

  <arg name="moveit_warehouse_database_path" />
  <arg name="remote_warehouse" default="false"/>

  <!-- Load warehouse parameters -->
  <include file="$(find right_sr_ur10_moveit_config)/launch/warehouse_settings.launch.xml">
    <arg name="remote_warehouse" value="$(arg remote_warehouse)"/>
  </include>

  <!-- Run the DB server -->
  <node unless="$(arg remote_warehouse)" name="$(anon mongo_wrapper_ros)" cwd="ROS_HOME"
        type="mongo_wrapper_ros.py" pkg="warehouse_ros">
    <param name="overwrite" value="false"/>
    <param name="database_path"
           value="$(arg moveit_warehouse_database_path)"/>
  </node>
</launch>
