<launch>
  <arg name="side" default="right"/>
  <arg name="side_letter" value="$(eval side[0])"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- Set initial_z of the robot to enable to set it on a table -->
  <arg name="initial_z" default="0.1"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description_name" default="robot_description"/>

  <arg name="robot_description" default="$(find sr_box_ur10_moveit_config)/config/$(arg side_letter)a_ur10_with_box.urdf.xacro"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description_name)" command="xacro $(arg robot_description) initial_z:=$(arg initial_z)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description_name)_semantic" textfile="$(find sr_box_ur10_moveit_config)/config/$(arg side_letter)a_ursrbox.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description_name)_planning">
    <rosparam command="load" file="$(find sr_box_ur10_moveit_config)/config/$(arg side_letter)a_joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description_name)_kinematics">
    <rosparam command="load" file="$(find sr_box_ur10_moveit_config)/config/$(arg side_letter)a_kinematics.yaml"/>
  </group>

</launch>
