<launch>

  <!-- The path to the database must be specified -->
  <arg name="moveit_warehouse_database_path" />
  <arg name="run_services" default="true"/>
  <arg name="repair" default="false"/>
  <arg name="warehouse_ros_args" value="--repair" if="$(arg repair)" />
  <arg name="warehouse_ros_args" value=""     unless="$(arg repair)" />

  <!-- Load warehouse parameters -->
  <include file="$(find sr_box_ur10_moveit_config)/launch/warehouse_settings.launch.xml" />

  <!-- Run the DB server -->
  <node name="$(anon mongo_wrapper_ros)" cwd="ROS_HOME" type="mongo_wrapper_ros.py" pkg="warehouse_ros_mongo" args="$(arg warehouse_ros_args)">
    <param name="overwrite" value="false"/>
    <param name="database_path" value="$(arg moveit_warehouse_database_path)" />
  </node>
  <node if="$(arg run_services)" name="moveit_warehouse_services" pkg="moveit_ros_warehouse" type="moveit_warehouse_services" output="screen"/>

</launch>
