<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ursrh">

    <link name="world"/>
    <xacro:arg name="arm_1_z" default="0.0"/>
    <xacro:arg name="arm_2_z" default="0.0"/>
    <xacro:arg name="arm_x_separation" default="1.5"/>
    <xacro:arg name="arm_y_separation" default="0.0"/>

    <xacro:arg name="robot_model" default="ur10e"/>
    <xacro:include filename="$(find ur_description)/urdf/inc/$(arg robot_model)_macro.xacro"/>

    <xacro:arg name="kinematics_config_right" default="$(find ur_description)/config/$(arg robot_model)/default_kinematics.yaml"/>
    <xacro:arg name="kinematics_config_left" default="$(find ur_description)/config/$(arg robot_model)/default_kinematics.yaml"/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

    <xacro:if value="${'$(arg robot_model)' == 'ur10e'}">
        <xacro:ur10e_robot prefix="ra_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_right)"/>
        <xacro:ur10e_robot prefix="la_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_left)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur10'}">
        <xacro:ur1e_robot prefix="ra_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_right)"/>
        <xacro:ur10_robot prefix="la_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_left)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur5e'}">
        <xacro:ur5e_robot prefix="ra_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_right)"/>
        <xacro:ur5e_robot prefix="la_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_left)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur5'}">
        <xacro:ur5_robot prefix="ra_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_right)"/>
        <xacro:ur5_robot prefix="la_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config_left)"/>
    </xacro:if>

    <joint name="world_to_arm_1_joint" type="fixed">
        <parent link="world"/>
        <child link="ra_base_link"/>
        <origin xyz="0.0 0.0 $(arg arm_1_z)" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="world_to_arm_2_joint" type="fixed">
        <parent link="world"/>
        <child link="la_base_link"/>
        <origin xyz="$(arg arm_x_separation) $(arg arm_y_separation) $(arg arm_2_z)" rpy="0.0 0.0 ${pi}"/>
    </joint>

    <xacro:arg name="right_hand_type" default="hand_e"/>
    <xacro:arg name="right_hand_version" default="E3M5"/>
    <xacro:arg name="right_fingers" default="all"/>
    <xacro:arg name="right_tip_sensors" default="pst"/>
    <xacro:arg name="right_mid_sensors" default="none"/>
    <xacro:arg name="right_prox_sensors" default="none"/>
    <xacro:arg name="right_palm_sensor" default="none"/>
    <xacro:arg name="left_hand_type" default="hand_e"/>
    <xacro:arg name="left_hand_version" default="E3M5"/>
    <xacro:arg name="left_fingers" default="all"/>
    <xacro:arg name="left_tip_sensors" default="pst"/>
    <xacro:arg name="left_mid_sensors" default="none"/>
    <xacro:arg name="left_prox_sensors" default="none"/>
    <xacro:arg name="left_palm_sensor" default="none"/>

    <xacro:include filename="$(find sr_description)/other/xacro/materials.urdf.xacro"/>
    <xacro:include filename="$(find sr_description)/hand/xacro/hand.urdf.xacro"/>
    <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro"/>

    <xacro:sr_hand side="right" hand_type="$(arg right_hand_type)" hand_version="$(arg right_hand_version)"
                   fingers="$(arg right_fingers)" tip_sensors="$(arg right_tip_sensors)" mid_sensors="$(arg right_mid_sensors)"
                    prox_sensors="$(arg right_prox_sensors)" palm_sensor="$(arg right_palm_sensor)"/>

    <joint name="ra_arm_to_hand" type="fixed">
        <parent link="ra_flange"/>
        <child link="rh_forearm"/>
        <origin xyz="0.012 0.0 0.0" rpy="${pi/2.0} ${pi} ${pi/2.0}"/>
    </joint>

    <xacro:sr_hand side="left" hand_type="$(arg left_hand_type)" hand_version="$(arg left_hand_version)"
                fingers="$(arg left_fingers)" tip_sensors="$(arg left_tip_sensors)" mid_sensors="$(arg left_mid_sensors)"
                prox_sensors="$(arg left_prox_sensors)" palm_sensor="$(arg left_palm_sensor)"/>

    <joint name="la_arm_to_hand" type="fixed">
        <parent link="la_flange"/>
        <child link="lh_forearm"/>
        <origin xyz="0.012 0.0 0.0" rpy="${pi/2.0} ${pi} ${pi/2.0}"/>
    </joint>
</robot>
