<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="ursr">

  <link name="world"/>
  <xacro:arg name="initial_y" default="0.0"/>
  <xacro:arg name="initial_z" default="0.0"/>
  <xacro:arg name="initial_yaw" default="0.0"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <xacro:arg name="side" default="right"/>
  <xacro:arg name="robot_model" default="ur10e"/>
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/$(arg robot_model)/default_kinematics.yaml"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/$(arg robot_model)_macro.xacro"/>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotSimType>sr_gazebo_sim/SrGazeboHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:if value="${'$(arg side)' == 'right'}">
      <xacro:arg name="arm_prefix" default="ra" />
  </xacro:if>
  <xacro:if value="${'$(arg side)' == 'left'}">
      <xacro:arg name="arm_prefix" default="la" />
  </xacro:if>

  <xacro:if value="${'$(arg robot_model)' == 'ur10e'}">
      <xacro:ur10e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur10'}">
      <xacro:ur10_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur5e'}">
      <xacro:ur5e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
    </xacro:if>
    <xacro:if value="${'$(arg robot_model)' == 'ur5'}">
      <xacro:ur5_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="$(arg arm_prefix)_base_link"/>
    <origin xyz="0.0 $(arg initial_y) $(arg initial_z)" rpy="0.0 0.0 $(arg initial_yaw)"/>
  </joint> 
</robot>
