<launch>
  <arg name="arms" default="true" />
  <arg name="hands" default="true" />

  <!-- arms -->
  <group if="$(arg arms)">
      <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
      <rosparam file="$(find sr_robot_launch)/config/gazebo/controller/arms_controller_2_ur10.yaml" command="load"/>
      <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="--shutdown-timeout=1.0 r_arm_controller" />
  </group>

  <!-- hands -->
  <group if="$(arg hands)">
    <include file="$(find sr_hand)/launch/gazebo/loaders/hand_controllers.launch">
      <arg name="hand_controller_gazebo" value="$(find sr_description)/hand/config/right_hand_controller_gazebo.yaml"/>
    </include>
  </group>

</launch>
