<launch>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world"/>

  <!-- Start hand and arm controllers -->
  <arg name="arm_controllers" default="true" />
  <arg name="hand_controllers" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="gui" default="true"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

<!--  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_multi_description)/urdf/ur_and_hand.urdf.xacro'" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model ur -z 0.05 -J ra_elbow_joint 0.0 -J ra_shoulder_lift_joint 0.0 -J ra_shoulder_pan_joint 0.0 -J ra_wrist_1_joint 0.0 -J ra_wrist_2_joint 0.0 -J ra_wrist_3_joint 0.0" respawn="false" output="screen" />
-->

  <include file="$(find sr_robot_launch)/launch/gazebo/controllers.launch">
      <arg name="arms" value="$(arg arm_controllers)" />
      <arg name="hands" value="$(arg hand_controllers)" />
  </include>
</launch>
