<launch>
 # The planning and execution components of MoveIt! configured to
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner
 <include file="$(find sr_moveit_hand_config)/launch/move_group.launch">
 <arg name="publish_monitored_planning_scene" value="true" />
 </include>

</launch>
