<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">
  <xacro:arg name="arm_prefix" default="ra_"/>
  <xacro:arg name="hand_prefix" default="rh_"/>
  <xacro:arg name="arm_name" default="right_arm"/>
  <xacro:arg name="hand_name" default="right_hand"/>
  <xacro:arg name="is_lite" default="0"/>

  <xacro:macro name="arm_groups" params="arm_name arm_prefix hand_name hand_prefix is_lite">
    <group name="$(arg arm_name)">
        <joint name="${arm_prefix}shoulder_pan_joint" />
        <joint name="${arm_prefix}shoulder_lift_joint" />
        <joint name="${arm_prefix}elbow_joint" />
        <joint name="${arm_prefix}wrist_1_joint" />
        <joint name="${arm_prefix}wrist_2_joint" />
        <joint name="${arm_prefix}wrist_3_joint" />
        <joint name="${arm_prefix}ee_fixed_joint" />
        <joint name="${arm_prefix}arm_to_hand" />
        <joint name="${hand_prefix}WRJ2" />
        <joint name="${hand_prefix}WRJ1" />
    </group>
    <group_state name="hold_bottle" group="$(arg arm_name)">
        <joint name="${arm_prefix}elbow_joint" value="1.7730913162231445" />
        <joint name="${arm_prefix}shoulder_lift_joint" value="-1.1930134932147425" />
        <joint name="${arm_prefix}shoulder_pan_joint" value="-0.05154306093324834" />
        <joint name="${arm_prefix}wrist_1_joint" value="-1.0714204947101038" />
        <joint name="${arm_prefix}wrist_2_joint" value="0.03156869485974312" />
        <joint name="${arm_prefix}wrist_3_joint" value="2.023080348968506" />
        <joint name="${hand_prefix}WRJ1" value="-0.07499826746320828" />
        <joint name="${hand_prefix}WRJ2" value="-0.21651525474794753" />
    </group_state>

    <group_state name="approach_bottle" group="$(arg arm_name)">
        <joint name="${arm_prefix}elbow_joint" value="1.3201355934143066" />
        <joint name="${arm_prefix}shoulder_lift_joint" value="-0.9284232298480433" />
        <joint name="${arm_prefix}shoulder_pan_joint" value="-0.22787458101381475" />
        <joint name="${arm_prefix}wrist_1_joint" value="-0.2906392256366175" />
        <joint name="${arm_prefix}wrist_2_joint" value="-0.1491025129901331" />
        <joint name="${arm_prefix}wrist_3_joint" value="1.432104468345642" />
        <joint name="${hand_prefix}WRJ1" value="0" />
        <joint name="${hand_prefix}WRJ2" value="0" />
    </group_state>

    <group_state name="pour_bottle" group="$(arg arm_name)">
        <joint name="${arm_prefix}elbow_joint" value="2.229947566986084" />
        <joint name="${arm_prefix}shoulder_lift_joint" value="-1.8937347571002405" />
        <joint name="${arm_prefix}shoulder_pan_joint" value="-0.035438362752096" />
        <joint name="${arm_prefix}wrist_1_joint" value="-0.9006665388690394" />
        <joint name="${arm_prefix}wrist_2_joint" value="0.044231902807950974" />
        <joint name="${arm_prefix}wrist_3_joint" value="-0.079658333455221" />
        <joint name="${hand_prefix}WRJ1" value="0" />
        <joint name="${hand_prefix}WRJ2" value="0" />
    </group_state>

    <group_state name="victory" group="$(arg arm_name)">
        <joint name="${arm_prefix}elbow_joint" value="1.0079150199890137" />
        <joint name="${arm_prefix}shoulder_lift_joint" value="-0.7708819548236292" />
        <joint name="${arm_prefix}shoulder_pan_joint" value="-0.2072394529925745" />
        <joint name="${arm_prefix}wrist_1_joint" value="1.2423092126846313" />
        <joint name="${arm_prefix}wrist_2_joint" value="-1.1883366743670862" />
        <joint name="${arm_prefix}wrist_3_joint" value="-1.4395459334002894" />
        <joint name="${hand_prefix}WRJ1" value="0" />
        <joint name="${hand_prefix}WRJ2" value="0" />
    </group_state>

    <group_state name="gamma" group="$(arg arm_name)">
        <joint name="${arm_prefix}elbow_joint" value="1.4119" />
        <joint name="${arm_prefix}shoulder_lift_joint" value="-1.6943" />
        <joint name="${arm_prefix}shoulder_pan_joint" value="0.2118" />
        <joint name="${arm_prefix}wrist_1_joint" value="0" />
        <joint name="${arm_prefix}wrist_2_joint" value="0" />
        <joint name="${arm_prefix}wrist_3_joint" value="0" />
        <joint name="${hand_prefix}WRJ1" value="0" />
        <joint name="${hand_prefix}WRJ2" value="0" />
    </group_state>

    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="$(arg hand_name)" parent_link="${hand_prefix}palm" group="$(arg hand_name)" />
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="world_to_arm" type="fixed" parent_frame="world" child_link="${arm_prefix}base_link" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="${arm_prefix}base_link" link2="${arm_prefix}shoulder_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}base_link" link2="${arm_prefix}upper_arm_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}base_link" link2="${arm_prefix}wrist_1_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}ee_link" link2="${arm_prefix}wrist_1_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}ee_link" link2="${arm_prefix}wrist_2_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}ee_link" link2="${arm_prefix}wrist_3_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}forearm_link" link2="${arm_prefix}upper_arm_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}forearm_link" link2="${arm_prefix}wrist_1_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}shoulder_link" link2="${arm_prefix}upper_arm_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}shoulder_link" link2="${arm_prefix}wrist_1_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}shoulder_link" link2="${arm_prefix}wrist_2_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}wrist_1_link" link2="${arm_prefix}wrist_2_link" reason="Adjacent" />
    <disable_collisions link1="${arm_prefix}wrist_1_link" link2="${arm_prefix}wrist_3_link" reason="Never" />
    <disable_collisions link1="${arm_prefix}wrist_2_link" link2="${arm_prefix}wrist_3_link" reason="Adjacent" />    
  </xacro:macro>
  <xacro:arm_groups arm_name="$(arg arm_name)" arm_prefix="$(arg arm_prefix)" hand_name="$(arg hand_name)" hand_prefix="$(arg hand_prefix)" is_lite="$(arg is_lite)"/>
</robot>
