<launch>
  <node name="controller_stopper_right" pkg="controller_stopper" type="node" respawn="false" output="screen">
    <remap from="robot_running" to="ra_sr_ur_robot_hw/robot_program_running"/>
    <rosparam param="consistent_controllers">
       - "la_trajectory_controller"
       - "force_torque_sensor_controller"
       - "joint_state_controller"
       - "sr_rh_tactile_sensor_controller"
       - "rh_trajectory_controller"
       - "sh_rh_ffj0_position_controller"
       - "sh_rh_ffj3_position_controller"
       - "sh_rh_ffj4_position_controller"
       - "sh_rh_mfj0_position_controller"
       - "sh_rh_mfj3_position_controller"
       - "sh_rh_mfj4_position_controller"
       - "sh_rh_rfj0_position_controller"
       - "sh_rh_rfj3_position_controller"
       - "sh_rh_rfj4_position_controller"
       - "sh_rh_lfj0_position_controller"
       - "sh_rh_lfj3_position_controller"
       - "sh_rh_lfj4_position_controller"
       - "sh_rh_lfj5_position_controller"
       - "sh_rh_thj1_position_controller"
       - "sh_rh_thj2_position_controller"
       - "sh_rh_thj3_position_controller"
       - "sh_rh_thj4_position_controller"
       - "sh_rh_thj5_position_controller"
       - "sh_rh_wrj1_position_controller"
       - "sh_rh_wrj2_position_controller"
       - "sr_lh_tactile_sensor_controller"
       - "lh_trajectory_controller"
       - "sh_lh_ffj0_position_controller"
       - "sh_lh_ffj3_position_controller"
       - "sh_lh_ffj4_position_controller"
       - "sh_lh_mfj0_position_controller"
       - "sh_lh_mfj3_position_controller"
       - "sh_lh_mfj4_position_controller"
       - "sh_lh_rfj0_position_controller"
       - "sh_lh_rfj3_position_controller"
       - "sh_lh_rfj4_position_controller"
       - "sh_lh_lfj0_position_controller"
       - "sh_lh_lfj3_position_controller"
       - "sh_lh_lfj4_position_controller"
       - "sh_lh_lfj5_position_controller"
       - "sh_lh_thj1_position_controller"
       - "sh_lh_thj2_position_controller"
       - "sh_lh_thj3_position_controller"
       - "sh_lh_thj4_position_controller"
       - "sh_lh_thj5_position_controller"
       - "sh_lh_wrj1_position_controller"
       - "sh_lh_wrj2_position_controller"
    </rosparam>
  </node>

  <node name="controller_stopper_left" pkg="controller_stopper" type="node" respawn="false" output="screen">
    <remap from="robot_running" to="la_sr_ur_robot_hw/robot_program_running"/>
    <rosparam param="consistent_controllers">
       - "ra_trajectory_controller"
       - "force_torque_sensor_controller"
       - "joint_state_controller"
       - "sr_rh_tactile_sensor_controller"
       - "rh_trajectory_controller"
       - "sh_rh_ffj0_position_controller"
       - "sh_rh_ffj3_position_controller"
       - "sh_rh_ffj4_position_controller"
       - "sh_rh_mfj0_position_controller"
       - "sh_rh_mfj3_position_controller"
       - "sh_rh_mfj4_position_controller"
       - "sh_rh_rfj0_position_controller"
       - "sh_rh_rfj3_position_controller"
       - "sh_rh_rfj4_position_controller"
       - "sh_rh_lfj0_position_controller"
       - "sh_rh_lfj3_position_controller"
       - "sh_rh_lfj4_position_controller"
       - "sh_rh_lfj5_position_controller"
       - "sh_rh_thj1_position_controller"
       - "sh_rh_thj2_position_controller"
       - "sh_rh_thj3_position_controller"
       - "sh_rh_thj4_position_controller"
       - "sh_rh_thj5_position_controller"
       - "sh_rh_wrj1_position_controller"
       - "sh_rh_wrj2_position_controller"
       - "sr_lh_tactile_sensor_controller"
       - "lh_trajectory_controller"
       - "sh_lh_ffj0_position_controller"
       - "sh_lh_ffj3_position_controller"
       - "sh_lh_ffj4_position_controller"
       - "sh_lh_mfj0_position_controller"
       - "sh_lh_mfj3_position_controller"
       - "sh_lh_mfj4_position_controller"
       - "sh_lh_rfj0_position_controller"
       - "sh_lh_rfj3_position_controller"
       - "sh_lh_rfj4_position_controller"
       - "sh_lh_lfj0_position_controller"
       - "sh_lh_lfj3_position_controller"
       - "sh_lh_lfj4_position_controller"
       - "sh_lh_lfj5_position_controller"
       - "sh_lh_thj1_position_controller"
       - "sh_lh_thj2_position_controller"
       - "sh_lh_thj3_position_controller"
       - "sh_lh_thj4_position_controller"
       - "sh_lh_thj5_position_controller"
       - "sh_lh_wrj1_position_controller"
       - "sh_lh_wrj2_position_controller"
    </rosparam>
  </node>
</launch>
