<!--
 Software License Agreement (BSD License)
 Copyright © 2022-2023 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<launch>
  <arg name="sim"/>

  <!-- ROBOT CONFIGS -->
  <arg name="side"/>
  <arg name="side_letter" value="$(eval side[0])"/>
  <arg name="arm" default="true"/>
  <arg name="hand" default="true"/>

  <!-- HAND SPECIFIC CONFIG-->
  <arg name="hand_type"/>
  <arg name="hand_version"/>
  <arg name="fingers"/>
  <arg name="tip_sensors"/>
  <arg name="mid_sensors"/>
  <arg name="prox_sensors"/>
  <arg name="palm_sensor"/>

  <arg unless="$(arg arm)" name="robot_description" value="'$(find sr_description)/robots/sr_hand.urdf.xacro'"/>
  <arg unless="$(arg arm)" name="load_robot_description_command" value="xacro $(arg robot_description)
                                 hand_type:=$(arg hand_type) hand_version:=$(arg hand_version) side:=$(arg side)
                                 fingers:=$(arg fingers) tip_sensors:=$(arg tip_sensors)
                                 mid_sensors:=$(arg mid_sensors) prox_sensors:=$(arg prox_sensors) palm_sensor:=$(arg palm_sensor)"/>

  <!-- ARM SPECIFIC CONFIG-->
  <arg name="robot_model" default="ur10e"/>
  <arg name="initial_z" default="0.1"/>
  <arg name="initial_y"/>
  <arg name="initial_yaw"/>

  <arg name="arm_prefix" value="$(arg side_letter)a"/>

  <!-- Hand-only description, needed for srdf generation -->
  <arg if="$(eval arm and hand)" name="hand_description" value="'$(find sr_description)/robots/sr_hand.urdf.xacro'"/>

  <arg if="$(eval arm and hand)" name="robot_description" value="'$(find sr_multi_description)/urdf/srhand_ur.urdf.xacro'"/>
  <arg if="$(eval arm and not hand)" name="robot_description" value="'$(find sr_multi_description)/urdf/sr_ur.urdf.xacro'"/>


  <arg if="$(arg arm)" name="load_robot_description_command" value="xacro $(arg robot_description) robot_model:=$(arg robot_model) hand_type:=$(arg hand_type) hand_version:=$(arg hand_version) side:=$(arg side)
                                                                    fingers:=$(arg fingers) tip_sensors:=$(arg tip_sensors)
                                                                    mid_sensors:=$(arg mid_sensors) prox_sensors:=$(arg prox_sensors) palm_sensor:=$(arg palm_sensor) initial_z:=$(arg initial_z) initial_y:=$(arg initial_y) initial_yaw:=$(arg initial_yaw)"/>
  <arg if="$(eval arm and hand)" name="load_hand_description_command" value="xacro $(arg hand_description)
                                                                             hand_type:=$(arg hand_type) hand_version:=$(arg hand_version) side:=$(arg side)
                                                                             fingers:=$(arg fingers) tip_sensors:=$(arg tip_sensors)
                                                                             mid_sensors:=$(arg mid_sensors) prox_sensors:=$(arg prox_sensors) palm_sensor:=$(arg palm_sensor) mounting_plate:=$(arg arm)"/>

  <!-- LOAD THE DESCRIPTION -->
  <param if="$(eval arm and hand)" name="$(arg side)_hand_description" command="$(arg load_hand_description_command)"/>
  <param if="$(arg sim)" name="robot_description" command="$(arg load_robot_description_command)"/>
  <param name="$(arg side)_tip_sensors" value="$(arg tip_sensors)" />
  <param name="$(arg side)_hand_version" value="$(arg hand_version)" />
  
  <group unless="$(arg sim)">
    <node if="$(arg arm)" name="construct_robot_description" pkg="sr_robot_launch" type="construct_robot_description" output="screen">
      <param name="arm_type" value="$(arg robot_model)"/>
      <param name="load_robot_description_command" value="$(arg load_robot_description_command)"/>
      <param name="side" value="$(arg side)"/>
    </node>

    <param unless="$(arg arm)" name="robot_description" command="$(arg load_robot_description_command)"/>
  </group>
</launch>
