<!--
 Software License Agreement (BSD License)
 Copyright © 2022-2023 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<launch>
  <arg name="sim"/>

  <!-- ROBOT CONFIGS -->
  <arg name="arms" default="true"/>
  <!-- Specify if the system has "both" hands, only "right", only "left" or "none" hands-->
  <arg name="hands" default="both"/>

  <!-- HAND SPECIFIC CONFIG--> 
  <arg name="hand_x_separation" default="-0.4"/>

  <arg name="right_hand_type" default="hand_e"/>
  <arg name="right_hand_version" default="E3M5"/>
  <arg name="right_fingers" default="all"/>
  <arg name="right_tip_sensors" default="pst"/>
  <arg name="right_mid_sensors" default="none"/>
  <arg name="right_prox_sensors" default="none"/>
  <arg name="right_palm_sensor" default="none"/>

  <arg name="left_hand_type" default="hand_e"/>
  <arg name="left_hand_version" default="E3M5"/>
  <arg name="left_fingers" default="all"/>
  <arg name="left_tip_sensors" default="pst"/>
  <arg name="left_mid_sensors" default="none"/>
  <arg name="left_prox_sensors" default="none"/>
  <arg name="left_palm_sensor" default="none"/>


  <!-- Individual hand configs, needed for srdf generation -->
  <arg if="$(eval not arg('hands') == 'none')" name="hand_description" value="'$(find sr_description)/robots/sr_hand.urdf.xacro'"/>
  <arg if="$(eval not arg('hands') == 'none')" name="load_right_hand_description_command" value="xacro $(arg hand_description)
                                                     hand_type:=$(arg right_hand_type) hand_version:=$(arg right_hand_version) side:=right
                                                     fingers:=$(arg right_fingers) tip_sensors:=$(arg right_tip_sensors)
                                                     mid_sensors:=$(arg right_mid_sensors) prox_sensors:=$(arg right_prox_sensors) palm_sensor:=$(arg right_palm_sensor)"/>
  <arg if="$(eval not arg('hands') == 'none')" name="load_left_hand_description_command" value="xacro $(arg hand_description)
                                                     hand_type:=$(arg left_hand_type) hand_version:=$(arg left_hand_version) side:=left
                                                     fingers:=$(arg left_fingers) tip_sensors:=$(arg left_tip_sensors)
                                                     mid_sensors:=$(arg left_mid_sensors) prox_sensors:=$(arg left_prox_sensors) palm_sensor:=$(arg left_palm_sensor)"/>

  <!-- Combined hand configs -->
  <arg unless="$(arg arms)" name="robot_description" default="'$(find sr_description)/robots/sr_hand_bimanual.urdf.xacro'"/>
  <arg unless="$(arg arms)" name="load_robot_description_command" value="xacro $(arg robot_description) arm_x_separation:=$(arg hand_x_separation)
                                                                         right_hand_type:=$(arg right_hand_type) right_hand_version:=$(arg right_hand_version)
                                                                         right_fingers:=$(arg right_fingers) right_tip_sensors:=$(arg right_tip_sensors)
                                                                         right_mid_sensors:=$(arg right_mid_sensors) right_prox_sensors:=$(arg right_prox_sensors)
                                                                         right_palm_sensor:=$(arg right_palm_sensor) right_mounting_plate:=$(arg arms)
                                                                         left_hand_type:=$(arg left_hand_type) left_hand_version:=$(arg left_hand_version)
                                                                         left_fingers:=$(arg left_fingers) left_tip_sensors:=$(arg left_tip_sensors)
                                                                         left_mid_sensors:=$(arg left_mid_sensors) left_prox_sensors:=$(arg left_prox_sensors)
                                                                         left_palm_sensor:=$(arg left_palm_sensor) left_mounting_plate:=$(arg arms)"/>

  <!-- ARM SPECIFIC CONFIG-->
  <arg name="robot_model" default="ur10e"/>
  <arg name="arm_x_separation" default="1.0"/>
  <arg name="arm_y_separation" default="1.0"/>
  <arg name="arm_1_z" default="0.0"/>
  <arg name="arm_2_z" default="0.0"/>

  <arg if="$(eval arms and arg('hands') == 'none')" name="robot_description" default="'$(find sr_multi_description)/urdf/bimanual_ur.urdf.xacro'"/>
  <arg if="$(eval arms and not arg('hands') == 'none')" name="robot_description" default="'$(find sr_multi_description)/urdf/bimanual_srhand_ur.urdf.xacro'"/>  
  <arg if="$(eval arms and arg('hands') == 'none')" name="load_robot_description_command" value="xacro $(arg robot_description) robot_model:=$(arg robot_model) arm_1_z:=$(arg arm_1_z) arm_2_z:=$(arg arm_2_z) arm_x_separation:=$(arg arm_x_separation) arm_y_separation:=$(arg arm_y_separation)"/>
  <arg if="$(eval arms and not arg('hands') == 'none')" name="load_robot_description_command" value="xacro $(arg robot_description) hands:=$(arg hands) robot_model:=$(arg robot_model) right_hand_type:=$(arg right_hand_type) right_hand_version:=$(arg right_hand_version)
                                                                                                     right_fingers:=$(arg right_fingers) right_tip_sensors:=$(arg right_tip_sensors)
                                                                                                     right_mid_sensors:=$(arg right_mid_sensors) right_prox_sensors:=$(arg right_prox_sensors)
                                                                                                     right_palm_sensor:=$(arg right_palm_sensor) right_mounting_plate:=$(arg arms)
                                                                                                     left_hand_type:=$(arg left_hand_type) left_hand_version:=$(arg left_hand_version)
                                                                                                     left_fingers:=$(arg left_fingers) left_tip_sensors:=$(arg left_tip_sensors)
                                                                                                     left_mid_sensors:=$(arg left_mid_sensors) left_prox_sensors:=$(arg left_prox_sensors)
                                                                                                     left_palm_sensor:=$(arg left_palm_sensor) left_mounting_plate:=$(arg arms)
                                                                                                     arm_1_z:=$(arg arm_1_z) arm_2_z:=$(arg arm_2_z) arm_x_separation:=$(arg arm_x_separation) arm_y_separation:=$(arg arm_y_separation)"/>

  <!-- LOAD THE DESCRIPTION -->
  <param if="$(eval arg('hands') == 'both' or arg('hands') == 'right')" name="right_hand_description" command="$(arg load_right_hand_description_command)"/>
  <param if="$(eval arg('hands') == 'both' or arg('hands') == 'left')" name="left_hand_description" command="$(arg load_left_hand_description_command)"/>

  <param if="$(arg sim)" name="robot_description" command="$(arg load_robot_description_command)"/>
  <param name="right_tip_sensors" value="$(arg right_tip_sensors)" />
  <param name="right_hand_version" value="$(arg right_hand_version)" />
  <param name="left_tip_sensors" value="$(arg left_tip_sensors)" />
  <param name="left_hand_version" value="$(arg left_hand_version)" />
  
  <group unless="$(arg sim)">
    <node if="$(arg arms)" name="construct_robot_description" pkg="sr_robot_launch" type="construct_robot_description" output="screen">
      <param name="arm_type" value="$(arg robot_model)"/>
      <param name="load_robot_description_command" value="$(arg load_robot_description_command)"/>
    </node>

    <param unless="$(arg arms)" name="robot_description" command="$(arg load_robot_description_command)"/>
  </group>
</launch>
