<launch>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="gui" default="true"/>
  <!-- Set world value dependant on scene -->
  <arg name="world" default="$(find sr_description_common)/worlds/shadowhand.world"/>
  <arg name="paused" default="false"/>
  <arg name="spawn_model_extra_args" default="" />
  <arg name="robot_name" default="ur10esrh"/>


  <param name="/use_sim_time" value="true"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find sr_description_common)/models/" />
  <env name="GAZEBO_MODEL_DATABASE_URI" value="" />
  <env name="MESH_WORKSPACE_PATH" value="$(find sr_description_common)/models/" />

  <param name="robot_description" textfile="$(find sr_robot_launch)/test_models/bimanual_ur10e_hand_e.urdf" />
  <param name="robot_description_semantic" textfile="$(find sr_robot_launch)/test_models/bimanual_ur10e_hand_e.srdf" />

  <param name="rh_robot_description" textfile="$(find sr_robot_launch)/test_models/right_hand_e.urdf" />
  <param name="lh_robot_description" textfile="$(find sr_robot_launch)/test_models/left_hand_e.urdf" />
  <param name="ra_robot_description" textfile="$(find sr_robot_launch)/test_models/right_ur10e.urdf" />
  <param name="la_robot_description" textfile="$(find sr_robot_launch)/test_models/left_ur10e.urdf" />
  


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world)"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg robot_name) $(arg spawn_model_extra_args)" respawn="false" output="screen"/>
</launch>