<launch>
  <!-- This launch file is for bimanual system only -->
  <!-- set to false if you want to use real robots, true if you need the gazebo simulation -->
  <arg name="sim" default="true"/>
  <!-- Set to true for debugging -->
  <arg name="debug" default="false"/>
  <!-- Set to 0 if we don't want to run calibration controllers (e.g. for the muscle hand) -->
  <arg name="calibration_controllers" default="1"/>
  <!-- Xacro file containing the robot description we want to load -->
  <arg name="robot_description" default="$(find sr_description)/robots/bimanual_shadowhand_motor.urdf.xacro"/>
  <!-- The control mode PWM (true) or torque (false) -->
  <arg name="pwm_control" default="$(optenv PWM_CONTROL 1)"/>

  <!-- Allows to specify the ethernet interface/s to be used for ethercat devices. It defaults to the value of the env var ETHERCAT_PORT
      More than one interface can be specified by concatenating them using underscore as a separator (e.g eth1_eth2_eth3) -->
  <arg name="eth_port" default="$(optenv ETHERCAT_PORT eth1_eth2)"/>

  <!-- The ethercat serial number for the right hand -->
  <arg name="rh_serial" default="1290"/>
  <!-- The id for the right hand. It needs to be the same (but without trailing underscore) as the prefix used in the hand model. -->
  <arg name="rh_id" default="rh"/>
  <!-- The ethercat serial number for the left hand -->
  <arg name="lh_serial" default="1338"/>
  <!-- The id for the left hand. It needs to be the same (but without trailing underscore) as the prefix used in the hand model. -->
  <arg name="lh_id" default="lh"/>
  <!-- Set to true to spawn trajectory controllers for the hands(the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="hand_trajectory" default="true"/>
  <!-- Set to true to spawn the position controllers for the hands-->
  <arg name="hand_ctrl" default="true"/>
  <!-- Set to true to allow planning trajectories-->
  <arg name="use_moveit" default="false"/>
  <!-- Set to false if you want to start without guis -->
  <arg name="gui" default="true"/>
  <!-- the path to the mapping files -->
  <arg name="rh_mapping_path" default="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v3.yaml"/>
  <arg name="lh_mapping_path" default="$(find sr_edc_launch)/mappings/default_mappings/lh_E_v3.yaml"/>

  <!-- SIMULATED ROBOTS -->
  <group if="$(arg sim)">
    <arg name="world_name"
         value="$(find sr_description)/other/worlds/shadowhand.world"/>
    <arg name="paused" value="false"/>

    <param name="/hand/mapping/$(arg rh_serial)" value="$(arg rh_id)"/>
    <param name="/hand/mapping/$(arg lh_serial)" value="$(arg lh_id)"/>
    <param name="/hand/joint_prefix/$(arg rh_serial)" value="$(arg rh_id)_"/>
    <param name="/hand/joint_prefix/$(arg lh_serial)" value="$(arg lh_id)_"/>

    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(arg robot_description)'"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
      <arg name="gui" default="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model usrh -z 0.1 "
          respawn="false" output="screen"/>
    <rosparam command="load" file="$(find sr_description)/hand/config/$(arg rh_id)_controller_gazebo.yaml"/>
    <rosparam command="load" file="$(find sr_description)/hand/config/$(arg lh_id)_controller_gazebo.yaml"/>
    <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch" />
  </group>

  <!-- REAL ROBOTS -->
  <group unless="$(arg sim)">
    <include file="$(find sr_edc_launch)/sr_edc_bimanual.launch">
      <arg name="eth_port" value="$(arg eth_port)"/>
      <!-- Set to true for debugging -->
      <arg name="debug" value="$(arg debug)"/>
      <!-- Set to 0 if we don't want to run calibration controllers (e.g. for the muscle hand) -->
      <arg name="calibration_controllers" value="$(arg calibration_controllers)"/>
      <!-- Xacro file containing the robot description we want to load -->
      <arg name="robot_description" value="$(arg robot_description)"/>
      <!-- The control mode PWM (true) or torque (false) -->
      <arg name="pwm_control" value="$(arg pwm_control)"/>

      <!-- The ethercat serial number for the right hand -->
      <arg name="rh_serial" value="$(arg rh_serial)"/>
      <!-- The id for the right hand. It needs to be the same (but without trailing underscore) as the prefix used in the hand model. -->
      <arg name="rh_id" value="$(arg rh_id)"/>
      <!-- The ethercat serial number for the left hand -->
      <arg name="lh_serial" value="$(arg lh_serial)"/>
      <!-- The id for the left hand. It needs to be the same (but without trailing underscore) as the prefix used in the hand model. -->
      <arg name="lh_id" value="$(arg lh_id)"/>
      <!-- the path to the mapping files -->
      <arg name="rh_mapping_path" value="$(arg rh_mapping_path)"/>
      <arg name="lh_mapping_path" value="$(arg lh_mapping_path)"/>

    </include>
  </group>

  <!-- MOVEIT -->
  <group if="$(arg use_moveit)">
    <include file="$(find bimanual_moveit_config)/launch/moveit_planning_and_execution.launch">
      <arg name="load_robot_description" value="false"/>
      <arg name="gui" default="$(arg gui)"/>
    </include>
    <include file="$(find bimanual_moveit_config)/launch/default_warehouse_db.launch"/>
  </group>

  <!-- Trajectory controller -->
  <group if="$(arg hand_ctrl)">
    <node name="bimanual_trajectory_controller" pkg="sr_utilities" type="trajectory_controller_spawner.py">
      <param name="hand_trajectory" value ="$(arg hand_trajectory)"/>
    </node>
  </group>

</launch>
