<launch>
  <!-- This launch file is for the right ur5 arm and a shadow hand -->

  <!-- set to false if you want to use real robots, true if you need the gazebo simulation -->
  <arg name="sim" default="true"/>
  <!-- Set to true for debugging -->
  <arg name="debug" default="false"/>
  <!-- Set to true to allow planning trajectories-->
  <arg name="use_moveit" default="true"/>
  <!--Choose planner library, options are ompl, stomp or sbpl-->
  <arg name="planning" default="ompl"/>
  <!-- Set to false if you want to start without guis -->
  <arg name="gui" default="true"/>
  <!-- Serial number of the hand to be used-->
  <arg name="hand_serial" default="1082"/>
  <!-- the path to the mapping files -->
  <arg name="mapping_path" default="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v3.yaml"/>
  <!-- Allows to specify the ethernet interface/s to be used for ethercat devices. It defaults to the value of the env var ETHERCAT_PORT
       More than one interface can be specified by concatenating them using underscore as a separator (e.g eth1_eth2_eth3) -->
  <arg name="eth_port" default="$(optenv ETHERCAT_PORT eth0)"/>
  <!-- Set whether to load a scene to restrain the movement of the robot -->
  <arg name="scene" default="false"/>
  <!-- Set to true if you want to use grasp controller -->
  <arg name="grasp_controller" default="false"/>
  <!-- The control mode PWM (true) or torque (false) -->
  <!-- Set to true by default for now as torque control is not available yet -->
  <arg name="pwm_control" default="true"/>

  <!-- Set world value dependant on scene -->
  <arg name="world" default="$(find sr_description_common)/worlds/shadowhand.world" unless="$(arg scene)"/>
  <arg name="world" default="$(find sr_description_common)/worlds/sr_lab.world" if="$(arg scene)"/>
  <!-- Set the scene file -->
  <arg name="scene_file" default="$(find sr_description_common)/scenes/lab.scene"/>
  
  <!-- Set initial_z value dependant on scene-->
  <arg name="initial_z" default="1.0" if="$(arg scene)"/>
  <arg name="initial_z" default="0.1" unless="$(arg scene)"/>

  <arg name="robot_description" default="'$(find sr_multi_description)/urdf/right_srhand_ur5.urdf.xacro'"/>
  <arg name="robot_config_file" default="$(find sr_multi_moveit_config)/config/robot_configs/right_sh_ur5.yaml"/>

  <arg name="side" value="right"/>
  <include file="$(find sr_robot_launch)/launch/sr_ur_arm_hand.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="use_moveit" default="$(arg use_moveit)"/>
    <arg name="planning" default="$(arg planning)"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="initial_z" value="$(arg initial_z)"/>
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="robot_config_file" value="$(arg robot_config_file)"/>
    <arg name="hand_id" value="rh"/>
    <arg name="arm_id" value="ra"/>
    <arg name="side" value="$(arg side)"/>
    <arg name="robot_model" value="ur5"/>
    <arg name="robot_name" value="ur5srh"/>
    <arg name="arm_robot_hw" value="$(find sr_robot_launch)/config/$(arg side)_ur_arm_robot_hw.yaml"/>
    <arg name="arm_group_name" value="$(arg side)_arm"/>
    <arg name="hand_serial" value="$(arg hand_serial)"/>
    <arg name="mapping_path" value="$(arg mapping_path)"/>
    <arg name="eth_port" value="$(arg eth_port)"/>
    <arg name="scene" value="$(arg scene)"/>
    <arg name="grasp_controller" value="$(arg grasp_controller)"/>
    <arg name="pwm_control" value="$(arg pwm_control)"/>
  </include>
</launch>
