<!--
 Software License Agreement (BSD License)
 Copyright © 2022-2023 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<launch>
  <!-- This launch file is for the right ur10 arm and a shadow hand -->

  <!-- set to false if you want to use real robots, true if you need the gazebo simulation -->
  <arg name="sim" default="false"/>
  <!-- Set to true for debugging -->
  <arg name="debug" default="false"/>
  <!-- Set to true to allow planning trajectories-->
  <arg name="use_moveit" default="true"/>
  <!--Choose planner library, options are ompl, stomp or sbpl-->
  <arg name="planning" default="ompl"/>
  <!--Should the planner yaml be automatically generated? -->
  <arg name="generate_planning_config" default="true"/>
  <!-- Set to false if you want to start without guis -->
  <arg name="gui" default="true"/>
  <!-- Set whether to load a scene to restrain the movement of the robot -->
  <arg name="scene" default="false"/>
  <!-- Set the scene file -->
  <arg name="scene_file" default="$(find sr_description_common)/scenes/demo_space_large_bimanual.scene"/>
  <!-- Set this to true if you run the hardware loop on a remote computer -->
  <arg name="external_control_loop" default="false"/>
  <!-- The robot state publisher publishing frequency  -->
  <arg name="robot_state_pub_frequency" default="250"/>
  <!-- The joint state publisher publishing frequency  -->
  <arg name="joint_state_pub_frequency" default="125"/>

  <!-- HAND CONFIG-->
  <!-- ik solver possible values sr_hand_kinematics/trac_ik/bio_ik -->
  <arg name="hand_ik_solver" default="sr_hand_kinematics"/>
  <!-- The control mode PWM (true) or torque (false) -->
  <!-- Set to true by default for now as torque control is not available yet -->
  <arg name="pwm_control" default="true"/>
  <!-- Set to true if you want to use grasp controller -->
  <arg name="grasp_controller" default="false"/>
  <!-- Set to true if you want to use hybrid controller -->
  <arg name="hybrid_controller" default="false"/>

  <!-- ARM CONFIG-->
  <arg name="initial_z" default="0.7521" if="$(arg scene)"/>
  <arg name="initial_z" default="0.1" unless="$(arg scene)"/>
  <arg name="initial_y" default="0.0"/>
  <arg name="initial_yaw" default="0.0"/>
  <!-- You can select ur10 or ur10e -->
  <arg name="robot_model" default="ur10e"/>
  <arg name="arm_speed_scale" default="0.5"/>

  <!-- Set to true to spawn trajectory controllers for the arms (the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="arm_trajectory" default="true"/>
  <!-- Set to true to spawn group position controllers for the arms -->
  <arg name="arm_position" default="$(eval not arm_trajectory)"/>

  <!-- SIM ONLY CONFIG -->
  <!-- Set world value dependant on scene -->
  <arg name="world" default="$(find sr_description_common)/worlds/shadowhands_and_arms.world" unless="$(arg scene)"/>
  <arg name="world" default="$(find sr_description_common)/worlds/demo_space_large_bimanual.world" if="$(arg scene)"/>
  <!-- Set to true if you want the robot to start in the "home" positions -->
  <arg name="start_home" default="true"/>
  <!-- Definition of "home" position, in joint-angle pairs -->
  <arg name="home_angles" default="-J ra_shoulder_pan_joint 0.0 -J ra_elbow_joint 2.0 -J ra_wrist_1_joint -1 -J ra_wrist_2_joint 1.5708 -J ra_shoulder_lift_joint -1.25 -J ra_wrist_3_joint -2"/>
  <!-- Robot side -->
  <arg name="side" value="right"/>
  <arg name="hand_type" default="hand_e"/>
  <arg if="$(eval arg('hand_type') == 'hand_e')" name="hand_version" default="E3M5"/>
  <arg if="$(eval arg('hand_type') == 'hand_g')" name="hand_version" default="G1M5"/>
  <arg if="$(eval arg('hand_type') == 'hand_c')" name="hand_version" default="C6M2"/>
  <!-- Set to all allowed fingers by default but you can specify less using a list like this "th,ff,mf,rf,lf" -->
  <arg name="fingers" default="all"/>
  <!-- Set to pst sensors by default but they can be specified by finger using a list like this "th=pst,ff=pst,mf=pst,rf=pst,lf=pst" -->
  <arg name="tip_sensors" default="pst"/>
  <arg name="mid_sensors" default="none"/>
  <arg name="prox_sensors" default="none"/>
  <arg name="palm_sensor" default="none"/>

  <include file="$(find sr_robot_launch)/launch/sr_ur_arm_hand.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="use_moveit" default="$(arg use_moveit)"/>
    <arg name="planning" default="$(arg planning)"/>
    <arg name="generate_planning_config" value="$(arg generate_planning_config)"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="world" value="$(arg world)"/>

    <arg name="hand_type" value="$(arg hand_type)"/>
    <arg name="hand_version" value="$(arg hand_version)"/>
    <arg name="fingers" value="$(arg fingers)"/>
    <arg name="tip_sensors" value="$(arg tip_sensors)"/>
    <arg name="mid_sensors" value="$(arg mid_sensors)"/>
    <arg name="prox_sensors" value="$(arg prox_sensors)"/>
    <arg name="palm_sensor" value="$(arg palm_sensor)"/>

    <arg name="hand_ik_solver" value="$(arg hand_ik_solver)"/>
    <arg name="initial_z" value="$(arg initial_z)"/>
    <arg name="initial_y" value="$(arg initial_y)"/>
    <arg name="initial_yaw" value="$(arg initial_yaw)"/>
    <arg name="arm_trajectory" default="$(arg arm_trajectory)"/>
    <arg name="arm_position" default="$(arg arm_position)"/>
    <arg name="arm_speed_scale" value="$(arg arm_speed_scale)"/>
    <arg name="side" value="$(arg side)"/>
    <arg name="robot_model" value="$(arg robot_model)"/>
    <arg name="robot_name" value="$(arg robot_model)srh"/>
    <arg name="external_control_loop" value="$(arg external_control_loop)"/>

    <arg name="grasp_controller" value="$(arg grasp_controller)"/>
    <arg name="hybrid_controller" value="$(arg hybrid_controller)"/>
    <arg name="pwm_control" value="$(arg pwm_control)"/>

    <arg name="scene" value="$(arg scene)"/>
    <arg name="scene_file" value="$(arg scene_file)"/>
    <arg name="start_home" value="$(arg start_home)"/>
    <arg name="home_angles" value="$(arg home_angles)"/>

    <arg name="robot_state_pub_frequency" value="$(arg robot_state_pub_frequency)"/>
    <arg name="joint_state_pub_frequency" value="$(arg joint_state_pub_frequency)"/>
  </include>
</launch>
