<!--
 Software License Agreement (BSD License)
 Copyright © 2022-2023 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<launch>
  <!-- This launch file is for one ur arm and a shadow hand -->

  <!-- set to false if you want to use real robots, true if you need the gazebo simulation -->
  <arg name="sim" default="false"/>
  <!-- Set to true for debugging -->
  <arg name="debug" default="false"/>
  <!-- Set to true to allow planning trajectories-->
  <arg name="use_moveit" default="true"/>
  <!--Choose planner library, options are ompl, stomp or sbpl-->
  <arg name="planning" default="ompl"/>
  <!--Should the planner yaml be automatically generated? -->
  <arg name="generate_planning_config" default="true"/>
  <!-- Set to false if you want to start without guis -->
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true" />
  <!-- Set whether to load a scene to restrain the movement of the robot -->
  <arg name="scene" default="false"/>
  <!-- Set this to true if you run the hardware loop on a remote computer -->
  <arg name="external_control_loop" default="false"/>
  <!-- The robot state publisher publishing frequency  -->
  <arg name="robot_state_pub_frequency" default="250"/>
  <!-- The joint state publisher publishing frequency  -->
  <arg name="joint_state_pub_frequency" default="125"/>

  <!-- ROBOT CONFIG-->
  <arg name="robot_model" default="ur10e"/>
  <arg name="robot_name" default="$(arg robot_model)srh"/>

  <!-- HANDS CONFIG-->
  <!-- ik solver possible values sr_hand_kinematics/trac_ik/bio_ik -->
  <arg name="hand_ik_solver" default="sr_hand_kinematics"/>
  <!-- Set to true to spawn trajectory controllers for the hands(the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="hand_trajectory" default="true"/>
  <!-- Set to true to spawn the position controllers for the hands-->
  <arg name="hand_ctrl" default="true"/>
  <!-- Argument to autodetect specific hand in bimanual setup -->
  <arg name="hand_side_ad" default=""/>
  <!-- The control mode PWM (true) or torque (false) -->
  <!-- Set to true by default for now as torque control is not available yet -->
  <arg name="pwm_control" default="true"/>
  <!-- Set to true if you want to use grasp controller -->
  <arg name="grasp_controller" default="false"/>
  <!-- Set to true if you want to use hybrid controller -->
  <arg name="hybrid_controller" default="false"/>

  <!-- ARMS CONFIG-->
  <arg name="initial_z" default="0.1"/>
  <arg name="initial_y" default="0.0"/>
  <arg name="initial_yaw" default="0.0"/>
  <!-- Set to true to spawn trajectory controllers for the arms (the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="arm_trajectory" default="true"/>
  <!-- Set to true to spawn group position controllers for the arms -->
  <arg name="arm_position" default="$(eval not arm_trajectory)"/>
  <!-- Set to true to spawn the position controllers for the arm-->
  <arg name="arm_ctrl" default="true"/>
  <arg name="arm_speed_scale" default="0.5"/>

  <!-- OTHER CONFIGS-->
  <!-- Trajectory controllers list for moveit-->
  <arg if="$(eval not hand_trajectory and not arm_trajectory)" name="trajectory_controllers_list_patterns" default="[]"/>
  <arg if="$(eval hand_trajectory and arm_trajectory)" name="trajectory_controllers_list_patterns" 
       default="[(ra|la)_trajectory_controller/state, (rh|lh)_trajectory_controller/state]"/>
  <arg if="$(eval hand_trajectory and not arm_trajectory)" name="trajectory_controllers_list_patterns"
       default="[(rh|lh)_trajectory_controller/state]"/>
  <arg if="$(eval not hand_trajectory and arm_trajectory)" name="trajectory_controllers_list_patterns"
       default="[(ra|la)_trajectory_controller/state]"/>

  <!-- SIMULATED ROBOTS -->
  <arg name="side" default="right"/>
  <arg name="hand_type" default="hand_e"/>
  <arg if="$(eval arg('hand_type') == 'hand_e')" name="hand_version" default="E3M5"/>
  <arg if="$(eval arg('hand_type') == 'hand_g')" name="hand_version" default="G1M5"/>
  <arg if="$(eval arg('hand_type') == 'hand_c')" name="hand_version" default="C6M2"/>
  <!-- Set to all allowed fingers by default but you can specify less using a list like this "th,ff,mf,rf,lf" -->
  <arg name="fingers" default="all"/>
  <!-- Set to pst sensors by default but they can be specified by finger using a list like this "th=pst,ff=pst,mf=pst,rf=pst,lf=pst" -->
  <arg name="tip_sensors" default="pst"/>
  <arg name="mid_sensors" default="none"/>
  <arg name="prox_sensors" default="none"/>
  <arg name="palm_sensor" default="none"/>

  <!-- Set world value dependant on scene -->
  <arg name="world" default="$(find sr_description_common)/worlds/shadowhands_and_arms.world"/>
  <!-- Set to true if you want the robot to start in the "home" positions -->
  <arg name="start_home" default="false"/>
  <!-- home_angles must be input at the launch -->
  <arg name="home_angles" default=""/>

  <group if="$(arg sim)">
    <include file="$(find sr_robot_launch)/launch/sr_simulation_control_loop.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="scene" value="$(arg scene)"/>
      <arg name="world" value="$(arg world)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="robot_model" value="$(arg robot_model)"/>
      <arg name="start_home" value="$(arg start_home)"/>
      <arg name="home_angles" value="$(arg home_angles)"/>
      <arg name="initial_z" value="$(arg initial_z)"/>
      <arg name="initial_y" value="$(arg initial_y)"/>
      <arg name="initial_yaw" value="$(arg initial_yaw)"/>
      <arg name="robot_state_pub_frequency" value="$(arg robot_state_pub_frequency)"/>
      <arg name="joint_state_pub_frequency" value="$(arg joint_state_pub_frequency)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="verbose" value="$(arg verbose)" />
      <arg name="side" value="$(arg side)"/>
      <arg name="hand_type" value="$(arg hand_type)"/>
      <arg name="hand_version" value="$(arg hand_version)"/>
      <arg name="fingers" value="$(arg fingers)"/>
      <arg name="tip_sensors" value="$(arg tip_sensors)"/>
      <arg name="mid_sensors" value="$(arg mid_sensors)"/>
      <arg name="prox_sensors" value="$(arg prox_sensors)"/>
      <arg name="palm_sensor" value="$(arg palm_sensor)"/>
      <arg name="arm" value="true"/>
      <arg name="hand" value="true"/>
      <arg name="arm_ctrl" value="$(arg arm_ctrl)"/>
      <arg name="arm_trajectory" value="$(arg arm_trajectory)"/>
      <arg name="arm_position" value="$(arg arm_position)"/>
      <arg name="hand_ctrl" value="$(arg hand_ctrl)"/>
      <arg name="hand_trajectory" value="$(arg hand_trajectory)"/>
      <arg name="grasp_controller" value="$(arg grasp_controller)"/>
      <arg name="hybrid_controller" value="$(arg hybrid_controller)"/>
    </include>
  </group>

  <!-- REAL ROBOTS -->
  <!-- Set the scene file -->
  <arg name="scene_file" default="$(find sr_description_common)/scenes/demo_space_large_bimanual.scene"/>

  <group unless="$(arg sim)">
    <group unless="$(arg external_control_loop)">
      <node pkg="sr_hand_detector" type="sr_hand_autodetect" name="hardware_control_loop_autodetection" output="screen"
        args="$(arg hand_side_ad) roslaunch sr_robot_launch sr_hardware_control_loop.launch
          debug:=$(arg debug)
          initial_z:=$(arg initial_z)
          robot_model:=$(arg robot_model)
          arm_speed_scale:=$(arg arm_speed_scale)
          grasp_controller:=$(arg grasp_controller)
          hybrid_controller:=$(arg hybrid_controller)
          pwm_control:=$(arg pwm_control)
          hand_ctrl:=$(arg hand_ctrl)
          arm_trajectory:=$(arg arm_trajectory)
          arm_position:=$(arg arm_position)
          hand_trajectory:=$(arg hand_trajectory)
          arm_ctrl:=$(arg arm_ctrl)
          robot_state_pub_frequency:=$(arg robot_state_pub_frequency)
          joint_state_pub_frequency:=$(arg joint_state_pub_frequency)" />
    </group>

    <!-- Set scene for robot after delay to start after moveit - restrains movement -->
    <group if="$(arg scene)">
      <node name="conditional_delayed_rostool_unimanual_scene" pkg="sr_utilities_common" type="conditional_delayed_rostool.py" output="screen">
        <param name="package_name" value="sr_multi_moveit_config" />
        <param name="executable_name" value="scene.launch" />
        <rosparam param="params_list">[/robot_description, /robot_description_semantic]</rosparam>
        <rosparam param="topics_list">[/planning_scene, /rviz_*]</rosparam>
        <param name="launch_args_list" value="scene_file:=$(arg scene_file)" />
      </node>
    </group>
  </group>

  <!-- MOVEIT -->
  <group if="$(arg use_moveit)">
    <include file="$(find sr_multi_moveit_config)/launch/moveit_planning_and_execution.launch">
      <arg name="hand_ik_solver" value="$(arg hand_ik_solver)"/>
      <arg name="load_robot_description" value="true"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="planning" value="$(arg planning)"/>
      <arg name="generate_planning_config" value="$(arg generate_planning_config)"/>
      <arg name="trajectory_controllers_list" value="$(arg trajectory_controllers_list_patterns)"/>
    </include>
    <include file="$(find sr_multi_moveit_config)/launch/default_warehouse_db.launch"/>
  </group>

  <!-- Publish underactuation error -->
  <node name="error_reporter" pkg="sr_error_reporter" type="error_reporter" output="screen"/>
</launch>
