<!--
 Software License Agreement (BSD License)
 Copyright © 2022-2023 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<launch>
  <!-- Set to true to allow planning trajectories-->
  <arg name="use_moveit" default="true"/>
  <!-- Set to false if you want to start without guis -->
  <arg name="gui" default="true"/>
  <!--Choose planner library, options are ompl, stomp or sbpl-->
  <arg name="planning" default="ompl"/>
  <!--Should the planner yaml be automatically generated? -->
  <arg name="generate_planning_config" default="true"/>
    <!-- ARMS CONFIG-->
  <!-- The robot state publisher publishing frequency  -->
  <arg name="robot_state_pub_frequency" default="250"/>
  <!-- The joint state publisher publishing frequency  -->
  <arg name="joint_state_pub_frequency" default="125"/>
  <!-- The path of your mujoco license  -->
  <arg name="key_path" default="/home/user/mjpro150/bin/mjkey.txt"/>
  <!-- Loads the robot description -->
  <arg name="robot_description" default="$(find sr_description)/mujoco_models/urdfs/ur10.urdf"/>
  <arg name="robot_config_file" default="$(find sr_multi_moveit_config)/config/robot_configs/right_ur10.yaml"/>

  <arg name="mujoco_model_filename" default="$(find sr_description)/mujoco_models/sr_ur_environment.xml"/>

  <rosparam param="robot_description" command="load" file="$(arg robot_description)"/>

  <rosparam command="load" file="$(find sr_robot_launch)/config/mujoco/ur10_home_pose.yaml"/>

  <arg name="robot_description_param" default="robot_description"/>
  
  <param name="/use_sim_time" value="true"/>

  <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch" >
    <arg name="publish_rate" value="$(arg joint_state_pub_frequency)"/>
  </include>
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="$(arg robot_state_pub_frequency)"/>
    <param name="tf_prefix" type="string" value="" />
  </node>
   <!-- Launch mujoco ros control -->
  <node name="mujoco_ros_control" pkg="mujoco_ros_control" type="mujoco_ros_control" output="screen" launch-prefix="gdb -ex run -args">
    <param name="robot_model_path" value="$(arg mujoco_model_filename)"/>
    <param name="robot_description_param" value="$(arg robot_description_param)"/>
    <param name="key_path" value="$(arg key_path)"/>
  </node>

  <!-- MOVEIT -->
  <group if="$(arg use_moveit)">
    <include file="$(find sr_multi_moveit_config)/launch/moveit_planning_and_execution.launch">
      <arg name="load_robot_description" value="true"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="robot_config_file" value ="$(arg robot_config_file)"/>
      <arg name="planning" value="$(arg planning)"/>
      <arg name="generate_planning_config" value="$(arg generate_planning_config)"/>
    </include>
    <include file="$(find sr_moveit_hand_config)/launch/default_warehouse_db.launch"/>
  </group>

  <!-- Controller -->
  <rosparam file="$(find mujoco_ros_control)/config/mujoco_ros_control_params.yaml" command="load"/>
  <rosparam file="$(find sr_robot_launch)/config/gazebo/controller/ra_trajectory_controller_no_wrist.yaml" command="load"/>
  <node name="arm_trajectory_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="ra_trajectory_controller"/>
</launch>
