<launch>
  <arg name="side" default="right"/>
  <arg name="side_letter" value="$(eval side[0])"/>
  <arg name="hand_id" value="$(arg side_letter)h"/>
  <arg name="arm_id" value="$(arg side_letter)a"/>

  <node name="controller_stopper" pkg="controller_stopper" type="node" respawn="false" output="screen">
    <remap from="robot_running" to="$(arg arm_id)_sr_ur_robot_hw/robot_program_running"/>
    <rosparam param="consistent_controllers">
       - "force_torque_sensor_controller"
       - "joint_state_controller"
       - "sr_$(arg hand_id)_tactile_sensor_controller"
       - "$(arg hand_id)_trajectory_controller"
       - "sh_$(arg hand_id)_ffj0_position_controller"
       - "sh_$(arg hand_id)_ffj3_position_controller"
       - "sh_$(arg hand_id)_ffj4_position_controller"
       - "sh_$(arg hand_id)_mfj0_position_controller"
       - "sh_$(arg hand_id)_mfj3_position_controller"
       - "sh_$(arg hand_id)_mfj4_position_controller"
       - "sh_$(arg hand_id)_rfj0_position_controller"
       - "sh_$(arg hand_id)_rfj3_position_controller"
       - "sh_$(arg hand_id)_rfj4_position_controller"
       - "sh_$(arg hand_id)_lfj0_position_controller"
       - "sh_$(arg hand_id)_lfj3_position_controller"
       - "sh_$(arg hand_id)_lfj4_position_controller"
       - "sh_$(arg hand_id)_lfj5_position_controller"
       - "sh_$(arg hand_id)_thj1_position_controller"
       - "sh_$(arg hand_id)_thj2_position_controller"
       - "sh_$(arg hand_id)_thj3_position_controller"
       - "sh_$(arg hand_id)_thj4_position_controller"
       - "sh_$(arg hand_id)_thj5_position_controller"
       - "sh_$(arg hand_id)_wrj1_position_controller"
       - "sh_$(arg hand_id)_wrj2_position_controller"
       - "cal_sh_$(arg hand_id)_ffj0"
       - "cal_sh_$(arg hand_id)_ffj3"
       - "cal_sh_$(arg hand_id)_ffj4"
       - "cal_sh_$(arg hand_id)_mfj0"
       - "cal_sh_$(arg hand_id)_mfj3"
       - "cal_sh_$(arg hand_id)_mfj4"
       - "cal_sh_$(arg hand_id)_rfj0"
       - "cal_sh_$(arg hand_id)_rfj3"
       - "cal_sh_$(arg hand_id)_rfj4"
       - "cal_sh_$(arg hand_id)_lfj0"
       - "cal_sh_$(arg hand_id)_lfj3"
       - "cal_sh_$(arg hand_id)_lfj4"
       - "cal_sh_$(arg hand_id)_lfj5"
       - "cal_sh_$(arg hand_id)_thj1"
       - "cal_sh_$(arg hand_id)_thj2"
       - "cal_sh_$(arg hand_id)_thj3"
       - "cal_sh_$(arg hand_id)_thj4"
       - "cal_sh_$(arg hand_id)_thj5"
       - "cal_sh_$(arg hand_id)_wrj1"
       - "cal_sh_$(arg hand_id)_wrj2"
    </rosparam>
  </node>
</launch>
