<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ursrbox">

  <!-- Arm -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro"/>
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur10e_default.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <xacro:ur10e_robot prefix="ra_" joint_limited="false" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_file="${load_yaml('$(arg kinematics_config)')}"/>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotSimType>sr_gazebo_sim/SrGazeboHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- Join arm and world -->
  <link name="world"/>
  <xacro:arg name="initial_z" default="0.0"/>
  <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="ra_base_link"/>
      <origin xyz="0.0 0.0 $(arg initial_z)" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- Box representation of hand -->
  <xacro:include filename="$(find sr_box_ur10_moveit_config)/config/hand_box.xacro" />
  <xacro:hand_box name="hand_box" width="0.22" depth="0.17" height="0.24"/>

  <!-- Join arm and hand -->
  <joint name="ra_arm_to_hand" type="fixed">
    <parent link="ra_ee_link"/>
    <child link="hand_base_attach"/>
    <origin rpy="1.570796325 3.14159265 1.570796325" xyz="0.012 0.0 0.0"/>
  </joint>
</robot>
